.Combatant {
  width: 51px;
  height: 14px;
  background: url("/images/ui/combatant-plate.png") no-repeat no-repeat;
  position:absolute;
}

.Question .Combatant {
  transform: scale(2);
  transition: opacity 0.4s;
}
.Question .Combatant[data-active="false"] {
  opacity: 0;
}
.Question .Combatant[data-active="true"] {
  opacity: 1;
}

.Combatant[data-team="player"] {
  left: 49px;
  top: 34px;
}
.Combatant[data-team="enemy"] {
  top: 28px;
  right: 45px;
}

.Combatant[data-team="enemy"] .Clues_collected {
  display: none;
}

.Player_crop {
  position: absolute;
  bottom: 1px;
  left:3px;
  width: 22px;
  height: 12px;
  overflow:hidden;
}

.Player_notepad {
  width: 14px;
  display: block;
  top: -1px;
  left: 1px;
  position: relative;
  filter: drop-shadow(0px 1px 3px #36220b);
}

.Combatant_character {
  display:block;
  position: absolute;
  left: -11px;
  bottom: -7px;
}
.Question .Player_crop {
  display:none;
}

.Combatant_name {
  position: absolute;
  left:-2px;
  top:-8px;
  white-space: nowrap;
  background: var(--menu-font-color);
  color: #fff;
  font-size: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0;
}
.Combatant_type {
  position: absolute;
  left: 4px;
  top: -1px;
  width: 15px;
  height: 15px;
}

.Player_time-container {
  position: absolute;
  left:20px;
  top:4px;
  width: 26px;
  height: 3px;
}
.Player_time-container > rect {
  transition: width 0.2s;
}

.Player_clues-container {
  position: absolute;
  left:20px;
  top:8px;
  width: 26px;
  height: 2px;
}
.Clues_collected {
  position: absolute;
  font-size: 12px;
  top: 16px;
  left: 2px;
  height: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
  background: #baaeaa;
  border: 1px solid #463c3b;
  margin: 0;
  width: 67px;
}

.Clues_collected::after {
  content: "clues collected";
  display: block;
  font-size: 6px;
  padding: 0 4px 0 2px;
}

.Combatant_status {
  position: absolute;
  font-size: 5px;
  left: 25px;
  bottom: -5px;
  padding-left: 2px;
  padding-right: 2px;
  background: rgba(0,0,0,0.8);
  color: white;
  margin: 0;
}
.Combatant_status[data-status="confident"] {
  color: red;
}
.Combatant_status[data-status="clumsy"] {
  background: #582a79;
}
