:root {
  --main: #050301;
  --border-color: #291D4D;
  --radio-border: #484040;
  --dialog-background: #5e3e17;
  --menu-background: #5e3e17;
  --keys-menu: rgba(94,62,23,0.4);
  --menu-border-color: rgba(255,215,0,1);
  --text-message-action: rgba(255,215,0,1);
  --button-action: rgba(255,215,0,0.8);
  --menu-font-color: #d6b575;
  --menu-selected-background: #36220b;
}

* {
  box-sizing:border-box;
}

body {
  background: #0a0602;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Oldenburg', fantasy;
}
.how-to-play {
  position: absolute;
  left:0; 
  right:0;
  bottom: 0;
  text-align:center;
  font-size: 14px;
  color: var(--menu-font-color);
}

.game-container {
  position: relative; 
  background: var(--main);
  width: 352px;
  height: 100%;
  margin: 0 auto;
  outline: 1px solid var(--menu-border-color);
  transform: scale(3) translateY(36%);
}

.game-container canvas {
  image-rendering: pixelated;
}

input:focus-visible{
  outline: 1px solid var(--menu-border-color);
}

@media screen and (max-width: 1100px) {
  .game-container {
    transform: scale(2.5) translateY(40%);
  }
  .game-container#mobile {
    transform: scale(1.9) translateY(25%);
  }
}

